/* *{
    margin: 0%;
    padding: 0%;
} */


.navbar{
display: flex;
justify-content: space-between;
/* padding: 2%; */
background-color: aquamarine;
align-items: center;

img{
    width: 50%; 
}
#cart{
    /* background-color: red; */
    display: flex;
    width: 13%;

    img{
        align-self:center;
        padding:10%;
        width: 50%;
        height: 60%;
    }
}
}

.headers{
        background-image:url("./assets/kw-background.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 5%;
    
}

.section-container{
    margin: 4%;
    .container{
        width: 100%;
        /* background-color: red; */
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
       
        /* align-content: center; */
        /* gap: 3%; */

        div>div{
            width: 100%;
        /* background-color: red; */
            padding: 5%;

            .books,.games,.crafts{
                width: 90%;
            }
        }

        .buy{
            width: 90%;
            /* background-color: red; */
            display: flex;
            justify-content: space-between;
            align-items: center;
height: 10%;
font-weight: bold;

            .button{
                width: 30%;
                display: flex;
                justify-content: space-between;
                align-items: center;
              
                background-color: blue;
                border-radius: 10%;
                height:80%;
        
                img{
width: 50%;
height: 60%;
                }
            }
        }
    }

    .container>div{
     
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 4%;
        flex-grow: 1 1 auto;
        /* background-color: red; */

    }
}

.footer-section{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    padding: 2%;
    color: white;
    align-items: center;

    div{
        width: 30%;
        img{
            width: 60%;
            border-radius: 60%;
        }
    }
    #details{
        /* display: flex; */
        gap: 5%;
        padding: 5%;
    }
}

/* media query for responsisveness */

/* Media query for screens smaller than 768px */
@media screen and (max-width: 768px) {
    .container>div {
      flex-basis: 100%;
      align-items: center;
      margin: auto;
       /* 50% width for each item on smaller screens */
    }
  }
  
  /* Media query for screens between 768px and 1024px */
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    .container>div {
      flex-basis: 33.33%; /* 33.33% width for each item on screens between 769px and 1024px */
    }
  }
  
  /* Media query for screens larger than 1024px */
  @media screen and (min-width: 1025px) {
    .container>div {
      flex-basis: 10%; /* 20% width for each item on larger screens */
    }
  }

